@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-primary: #6366f1;
  --color-secondary: #a1a1aa;
  --color-accent: #8b5cf6;

  --font-sans: Inter, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-white antialiased;
  }
}